*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Indie Flower', cursive;
}

header{
    background-color: rgb(48, 47, 48);
    overflow: hidden;
    padding: 15px;
}

#logo{
    float: left;
    color: white;
}

#menu{
    list-style: none;
    float: right;
}

.opcoes-menu{
    float: left;
    margin-left: 10px;
    color: white;
    display: inline-block;
    padding: 5px;
    
}

a{
    text-decoration: none;
    color: white;
    padding: 3px;
    
}
a:hover{
    color: red;
}

/* Configurações Header ↑  */

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black
}

.img-wrapper, img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
/* Com "object: cover" a imagem sempre cobre o tamanho da div, mantendo a porporção dela. */

#como-montar{
    background-color: burlywood;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    
    
}

.conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.8rem;
    
}

.conteudo,ul{
    list-style: none;
}

p{
    color: white;
}

li{
    
    color:rgb(245, 225, 225) ;
}

#pao{
    background-color: chocolate;
    width: 100%;
    height: 50vh;
    position: relative;
}

#burguer{
    background-color: brown;
    width: 100%;
    height: 50vh;
    position: relative;
}

#queijo{
    background-color:rgb(165, 132, 42);
    width: 100%;
    height: 50vh;
    position: relative;
}

#molho{
    background-color: rgb(212, 54, 67);
    width: 100%;
    height: 50vh;
    position: relative;

}

#item-gostoso{
    background-color: rgb(178, 141, 255);
    width: 100%;
    height: 50vh;
    position: relative;
}

#salada{
    background-color: rgb(152, 201, 158);
    width: 100%;
    height: 50vh;
    position: relative;
}

#adicionais{
    background-color: grey;
    width: 100%;
    height: 50vh;
    position: relative;
}

#pedido{
    background-color: white;
    width: 100%;
    height: 50vh;
    position: relative;
}

#como-montar-voltar{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: hotpink;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    text-align: center;
    
}

footer{
    width: 100%;
    height: 10vh;
    background-color: rgb(47, 48, 47);
    position: relative;
}

#texto-footer{
    
    color: white;
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px){
    #texto-footer{
    
        color: white;
        font-size: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

}

@media screen and (max-width: 967px){
    .conteudo{
        font-size: 1.4em;
    }

    #logo{
        margin-left: 45%;
    }

       
@media screen and (max-width: 600px){
    #como-montar-voltar{
        position: fixed;
        right: 10px;
        bottom: 10px;
        background-color: hotpink;
        padding: 10px;
        border-radius: 20px;
        font-weight: bolder;
        text-align: center;
        font-size: 0.7em;
      }
}

@media screen and (max-width: 504px){
    .conteudo{
        font-size: 1.1em;
    }
}
